<div class ='container'>

    <h1 class="operator">Add or remove a station to <%= @line.name() %></h1>
    <% if @line.stations_not_added().any? %>
    <form action="/stations" method="post" class="add">
      <input id='line_id' name='line_id' type='hidden' value='<%= @line.id() %>'>
      <div class="form-group">
        <div class="form-group">
          <label class = "form-label" for="station_id">Add a station for this line to stop at:</label>
          <select class = "form-control input-lg" id="station_id" name="station_id">
            <% Station.all().each() do |station| %>
              <% if ! @line.stations().include?(station) %>
                <option value="<%= station.id() %>"><%= station.name() %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="span7 text-center">
          <button class='button add' type="submit">Add Stop</button>
        </div>
      </form>
    <% end %>

    <% if @line.stations().any? %>
    <form action="/delete_station" method="post" class="warning">
      <input name="_method" type="hidden" value="delete">
      <input type='hidden' value='<%= @line.id() %>' name='line_id'>
      <div class="form-group">
        <label class = "form-label" for="station_id">Remove a stop from this line:</label>
        <select class = "form-control input-lg" id="station_id" name="station_id">
          <% @line.stations().each() do |station| %>
          <option value="<%= station.id() %>"><%= station.name() %></option>
          <% end %>
        </select>
      </div>
      <div class="span7 text-center">
        <button type="submit" value="delete" class="button warning">Remove Stop</button>
      </div>
    </form>
    <% end %>


  <br>

  <% if !@line.stations().any? %>
  <p>There are no stations yet!</p>
  <% else %>
  <h2 class="operator"> This line stops at stations: </h2>
  <ol>
    <% @line.stations().each() do |station|  %>
    <li><%= station.name() %></a></li>
    <% end %>
  </ol>
  <% end %>
  <br>


  <div class="span7 text-center">
    <p class="warning"><a href="/lines/<%= @line.id() %>/edit">Click Here to Edit <%= @line.name() %> Line</a></p>

    <p class="return"><a href="/operator">Return to the System Operator Page</a></p>
  </div>
</div>
