<div class ='container'>
  <h1 class="operator">Hello System Operator!</h1>
  <h3 class="operator">Click on a line or station in the two lists below to go to it's page.</h3>
  <h3 class="operator">Please make your changes here:</h3>


  <div class = 'row'>
    <div class ='col-xs-4 col-sm-6'>
      <h3 class="add">Enter the name of your new station:</h3>
      <form action="/station" method="post">
        <input type="text" name="station_name">
        <label for="station_name"></label>
        <div class="span7 text-center">
          <button class= 'button add' type="submit">Add Station</button>
        </div>
      </form>
      <br>
      <h2 class="operator">Stations</h2>
      <% if !@stations.any? %>
        <p class="warning">There are no stations yet!</p>
      <% else %>
        <ul>
          <% @stations.each() do |station|  %>
          <li><a href="/station/<%= station.id() %>"><%= station.name() %></a></li>
          <!-- took out this from li class='<%= station.id() %>' -->
          <% end %>
        </ul>
      <% end %>
    </div>



    <div class ='col-xs-4 col-sm-6'>
      <h3 class="add">Enter the name of your new line:</h3>
      <form action="/line" method="post">
        <input type="text" name="line_name">
        <label for="line_name"></label>
        <div class="span7 text-center">
          <button class='button add' type="submit">Add Line</button>
        </div>
      </form>
      <br>
      <h2 class="operator">Lines</h2>
      <% if !@lines.any? %>
        <p class="warning">There are no lines yet!</p>
      <% else %>
        <ul>
          <% @lines.each() do |line|  %>
          <li><a href="/line/<%= line.id() %>"><%= line.name() %></a></li>
          <!-- took out this from li class='<%= line.id() %>' -->
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

<div class="span7 text-center">
  <p class="return"><a href="/">Click here to return to the Main Page</a></p>
</div>
</div>
