<h1>Add a line to <%= @station.name() %></h1>

<form action="/lines" method="post">
  <input id='station_id' name='station_id' type='hidden' value='<%= @station.id() %>'>
  <div class="form-group">
    <label class = "form-label" for="line_id">Add line:</label>
    <select class = "form-control" id="line_id" name="line_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% Line.all().each() do |line| %>
      <% if ! @station.lines().include?(line) %>
      <option value="<%= line.id() %>"><%= line.name() %></option>
      <% end %>
      <% end %>
    </select>
  </div>
  <button type="submit">Add Line</button>
</form>

<br>

  <% if @station.lines() == nil %>
  <p>There are no lines yet!</p>
  <% else %>
  <ul>
    <% @station.lines().each() do |line|  %>
    <li><%= line.name() %></a></li>
    <% end %>
  </ul>
  <% end %>
  <br>

  <div class="span7 text-center">
    <a href="/"><button class="button button-back center btn">Return to main page</a>
    </div>
